.liked-container__profile{
border: 1px solid transparent;
width:100%;
margin-top:5px;
height: 30px;
margin-bottom: 5px;
}

.three-image-container__profile{
border: 1px solid #d4d4d4;
width: 16px;
height: 16px;
border-radius: 50%;
display: inline-block;
margin-left: 10px;
margin-top: 2px;
background-size: 150%;
background-repeat: no-repeat;
background-position: center;
}

.users-who-liked__profile{
    border: 1px solid transparent;
    height: 20px;
    display: inline-block;
    width: 200px;
    margin-left: 10px;
    font-size: 12px;
    vertical-align: top;
    margin-top: 3px;
}